.sliderLayoutContainer {
  margin-top: 2rem;
  justify-content: center;
  border-radius: 14px;
}

.sliderTrackContainer {
  max-width: 920px;
}

.paginationDotsContainer {
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
  color: #59ff02;
}

.imageElement {
  border-radius: 16px;
}

.paginationDot {
  background: #424242;
}

.paginationDot--isActive {
  background: #59ff02;
}